<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1"/>
   <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
   <div id="banner">
       <div id="background" class="assets">
       		<img src="img/background.jpg" alt="assets">
       </div>
       <div class="sparkes">
          <div class="sparkle"></div>
       </div>
       <div id="txt1" class="assets">
       		<img src="img/txt1.png" alt="assets">
       </div>
       <div id="txt2" class="assets">
       		<img src="img/txt2.png" alt="assets">
       </div>
       <div id="txt3" class="assets">
       		<img src="img/txt3.png" alt="assets">
       </div>
       <div id="frame1" class="assets">
       		<img src="img/txt3.png" alt="assets">
       </div>
       <div id="frame2" class="assets">
       		<img src="img/txt3.png" alt="assets">
       </div>
       <div id="frame3" class="assets">
       		<img src="img/txt3.png" alt="assets">
       </div>
       <div id="logo" class="assets">
       		<img src="img/cta.png" alt="assets">
       </div>
       <div id="cta" class="assets">
       		<img src="img/cta.png" alt="assets">
       </div>
	   <div id="banner-border"></div>
	   <div id="banner-exit"></div>
   </div>
   <script type="text/javascript">
        var clickTag = "";
   </script>
</body>
</html>